<div class="category-container">
  <h2 class="category-header">Hardcover Fiction</h2>
  <ul class="category-card-set">
    <li class="category-card-set-item">
      <a href="" class="category-card-link">
        <article class="category-card">
          <div class="category-card-thumb">
            <img src="./images/icons-img/zaglushka-2.png" alt="book cover" />
            <div class="category-hover-button">
              <p>quick view</p>
            </div>
          </div>

          <div class="category-card-content">
            <p class="category-book-name">I will find you</p>
            <p class="category-author" data-bookid="">Ann Napolitano</p>
          </div>
        </article>
      </a>
    </li>
  </ul>
</div>
