<header class="header"></header>
<div class="com">
  <aside class="aside"></aside>
  <div class="bestseller-container">
    






  </div>
</div>







<!-- <h1 class="bestseller-header">
  Best Sellers <span class="bestseller-header-part">Books</span>
</h1>
<div class="bestseller-category">
  
  <ul class="bestseller-category-card-set">
    <li class="card-set-item" id="">
      <a href="" class="bestseller-card-link">
        <article class="bestseller-card">
          <div class="bestseller-card-thumb">
            <img src="./images/Rectangle13.jpg" alt="" />
            <div class="bestseller-hover-button">
              <p>quick view</p>
            </div>
          </div>

          <div class="bestseller-card-content">
            <p class="bestseller-book-name">HELLO BEAUTIFUL</p>
            <p class="bestseller-author">Ann Napolitano</p>
          </div>
        </article>
      </a>
    </li>

    <li class="card-set-item" id="">
      <a href="" class="bestseller-card-link">
        <article class="bestseller-card">
          <div class="bestseller-card-thumb">
            <img src="./images/Rectangle13.jpg" alt="" />
            <div class="bestseller-hover-button">
              <p>quick view</p>
            </div>
          </div>

          <div class="bestseller-card-content">
            <p class="bestseller-book-name">HELLO BEAUTIFUL</p>
            <p class="bestseller-author">Ann Napolitano</p>
          </div>
        </article>
      </a>
    </li>
    <li class="card-set-item" id="">
      <a href="" class="bestseller-card-link">
        <article class="bestseller-card">
          <div class="bestseller-card-thumb">
            <img src="./images/Rectangle13.jpg" alt="" />
            <div class="bestseller-hover-button">
              <p>quick view</p>
            </div>
          </div>

          <div class="bestseller-card-content">
            <p class="bestseller-book-name">HELLO BEAUTIFUL</p>
            <p class="bestseller-author">Ann Napolitano</p>
          </div>
        </article>
      </a>
    </li>
    <li class="card-set-item" id="">
      <a href="" class="bestseller-card-link">
        <article class="bestseller-card">
          <div class="bestseller-card-thumb">
            <img src="./images/Rectangle13.jpg" alt="" />
            <div class="bestseller-hover-button">
              <p>quick view</p>
            </div>
          </div>

          <div class="bestseller-card-content">
            <p class="bestseller-book-name">HELLO BEAUTIFUL</p>
            <p class="bestseller-author">Ann Napolitano</p>
          </div>
        </article>
      </a>
    </li>
    <li class="card-set-item" id="">
      <a href="" class="bestseller-card-link">
        <article class="bestseller-card">
          <div class="bestseller-card-thumb">
            <img src="./images/Rectangle13.jpg" alt="" />
            <div class="bestseller-hover-button">
              <p>quick view</p>
            </div>
          </div>

          <div class="bestseller-card-content">
            <p class="bestseller-book-name">HELLO BEAUTIFUL</p>
            <p class="bestseller-author">Ann Napolitano</p>
          </div>
        </article>
      </a>
    </li>
  </ul>
</div>






 -->




















<!-- <h1 class="bestseller-header">
      Best Sellers <span class="bestseller-header-part">Books</span>
    </h1>
    <div class="bestseller-category">
      <h3 class="bestseller-category-header">
        Combined Print and E-Book Fiction
      </h3>
      <ul class="bestseller-category-card-set">
        <li class="card-set-item" id="">
          <a href="" class="bestseller-card-link">
            <article class="bestseller-card">
              <div class="bestseller-card-thumb">
                <img src="./images/Rectangle13.jpg" alt="" />
                <div class="bestseller-hover-button">
                  <p>quick view</p>
                </div>
              </div>

              <div class="bestseller-card-content">
                <p class="bestseller-book-name">HELLO BEAUTIFUL</p>
                <p class="bestseller-author">Ann Napolitano</p>
              </div>
            </article>
          </a>
        </li>

        <li class="card-set-item" id="">
          <a href="" class="bestseller-card-link">
            <article class="bestseller-card">
              <div class="bestseller-card-thumb">
                <img src="./images/Rectangle13.jpg" alt="" />
                <div class="bestseller-hover-button">
                  <p>quick view</p>
                </div>
              </div>

              <div class="bestseller-card-content">
                <p class="bestseller-book-name">HELLO BEAUTIFUL</p>
                <p class="bestseller-author">Ann Napolitano</p>
              </div>
            </article>
          </a>
        </li>
        <li class="card-set-item" id="">
          <a href="" class="bestseller-card-link">
            <article class="bestseller-card">
              <div class="bestseller-card-thumb">
                <img src="./images/Rectangle13.jpg" alt="" />
                <div class="bestseller-hover-button">
                  <p>quick view</p>
                </div>
              </div>

              <div class="bestseller-card-content">
                <p class="bestseller-book-name">HELLO BEAUTIFUL</p>
                <p class="bestseller-author">Ann Napolitano</p>
              </div>
            </article>
          </a>
        </li>
        <li class="card-set-item" id="">
          <a href="" class="bestseller-card-link">
            <article class="bestseller-card">
              <div class="bestseller-card-thumb">
                <img src="./images/Rectangle13.jpg" alt="" />
                <div class="bestseller-hover-button">
                  <p>quick view</p>
                </div>
              </div>

              <div class="bestseller-card-content">
                <p class="bestseller-book-name">HELLO BEAUTIFUL</p>
                <p class="bestseller-author">Ann Napolitano</p>
              </div>
            </article>
          </a>
        </li>
        <li class="card-set-item" id="">
          <a href="" class="bestseller-card-link">
            <article class="bestseller-card">
              <div class="bestseller-card-thumb">
                <img src="./images/Rectangle13.jpg" alt="" />
                <div class="bestseller-hover-button">
                  <p>quick view</p>
                </div>
              </div>

              <div class="bestseller-card-content">
                <p class="bestseller-book-name">HELLO BEAUTIFUL</p>
                <p class="bestseller-author">Ann Napolitano</p>
              </div>
            </article>
          </a>
        </li>
      </ul>
    </div> -->