<div class="backdrop is-hidden">
  <div class="bookModal">
    <button class="closeBtn"></button>
    <img src="./images/bookModal/Rectangle 13.png" alt="" />
    <p>HELLO BEAUTIFUL</p>
    <p>Ann Napolitano</p>
    <p>
      In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark past
      resurfaces as he gets to the know the family of his college sweetheart.
    </p>
    <ul>
      <li>
        <img class="imgIcon" src="./images/bookModal/amazonIcon.png" alt="" />
      </li>
      <li>
        <img class="imgIcon" src="./images/bookModal/imageBook.png" alt="" />
      </li>
      <li><img src="./images/bookModal/imageBookShop.png" alt="" /></li>
    </ul>

    <button>add to shopping list</button>
  </div>
</div>
