<div class="backdrop">
  <div class="bookModal">
    <button class="closeBtn">
      <img src="./images/bookModal/Icon_Close_24.png" alt="" />
    </button>
    <div class="modal-container">
      <div class="book-cover"></div>
      <div class="tablet-layout-text">
        <p class="book-title">HELLO BEAUTIFUL</p>
        <p class="book-author">Ann Napolitano</p>
        <p class="description">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </p>
        <ul class="reset-list shops-icons">
          <li>
            <a
              href="https://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Dstripbooks-intl-ship&field-keywords=&crid=3I682AHJOXX3H&sprefix=%2Cstripbooks-intl-ship%2C207"
              target="_blank"
            >
              <img
                class="imgIcon"
                src="./images/bookModal/amazonIcon.png"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="https://www.betterworldbooks.com/" target="_blank"
              ><img
                class="imgIcon"
                src="./images/bookModal/imageBook.png"
                alt=""
            /></a>
          </li>
          <li>
            <a href="https://www.powells.com/" target="_blank"
              ><img src="./images/bookModal/imageBookShop.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </div>

    <button class="button modal-btn">remove from the shopping list</button>
    <p class="congratulation">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
