<header class="header">
  <nav>
    <a class="logo" href="#">
      <img src="/src/images/icons-img/logo.png" alt="logo" id="logo-black" />
      <img src="/src/images/icons-img/logo-white.png" alt="logo" id="logo-white" class="logo-invisible"/>
    </a>
    <div class="toggler">
      <input id="toggler-1" name="toggler-1" type="checkbox" value="1" />
      <label for="toggler-1"> </label>
    </div>
    <a class="burger-menu" href="#" tabindex="0">
      <svg width="28" height="28">
        <use href="/src/images/icons-img/symbol-defs.svg#icon-align-left"></use>
      </svg>
    </a>
    <button class="btn-sign_up" type="button">
      <span>Sign up</span>
      <svg width="20" height="20">
        <use href="/src/images/icons-img/symbol-defs.svg#icon-arrow-narrow-right"
        ></use>
      </svg>
    </button>
  </nav>
</header>

<div class="modal-overlay">
  <div class="modal-content">
    <button type="button" aria-label="Sign up">
      <span>Sign up</span>
      <svg width="20" height="20">
        <use
          href="/src/images/icons-img/symbol-defs.svg#icon-arrow-narrow-right"
        ></use>
      </svg>
    </button>
    <img src="/src/images/icons-img/book-group.png" alt="book-group" />
  </div>
</div>
<!-- Скрипт бургер меню  підключати скрипти тільки в файлі index js-->
<!-- <script type="module" src="/src/JS/header.js"></script>
  </body>
</html> -->
