<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav>
            <a class="logo" href="#">
                <img src="/src/images/icons-img/symbol-defs.svg#icon-align-left" alt="logo" />
            </a>
            <div class="toggler">
                <input id="toggler-1" name="toggler-1" type="checkbox" value="1" />
                <label for="toggler-1"> </label>
            </div>
            <a class="burger-menu" href="#" tabindex="0"><img src="/src/images/icons-img/symbol-defs.svg#icon-align-left" alt="burger"></a>
            <div class="modal-menu">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contacts</li>
                </ul>
            </div>
            <button class="btn-sign_up" type="button">
                <span>Sign up</span>
                <img src="/src/images/icons-img/symbol-defs.svg#arrow-narrow-right" alt="arrow" />
            </button>
        </nav>
    </header>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum perferendis
    libero sequi facere laboriosam ut animi. Iure culpa, harum nisi quod numquam
    quis fugit doloremque repellendus provident molestias, unde eos eligendi
    totam tenetur similique architecto praesentium assumenda nemo iste sequi?
    Amet, at! Beatae dolorem fugiat, laudantium commodi, enim laboriosam ex
    vitae voluptatum animi illo est incidunt necessitatibus officiis natus
    quaerat, quisquam distinctio. Ea tempora libero itaque vel voluptates sed
    distinctio ratione! Aliquid optio illum cumque consequuntur ipsa. Accusamus,
    porro eum! Ab eius architecto pariatur dolores. Nesciunt autem maiores, fuga
    eveniet maxime exercitationem ipsum sapiente omnis, facilis suscipit eius,
    cum ea obcaecati est animi nam illum error laboriosam! Illo beatae ut cum.
    Nam provident necessitatibus odit quia a mollitia, vero aut quisquam
    praesentium veniam quis inventore minima omnis deleniti dolores possimus
    natus maxime assumenda? Aliquam in aut laudantium saepe cum illum, id,
    accusantium, quaerat maxime porro tempore quibusdam doloribus corporis nulla
    voluptatum iusto. Pariatur odio delectus asperiores nam nesciunt
    reprehenderit, laborum inventore quibusdam distinctio eligendi dolorem at
    aliquid cumque ipsa dolores nemo eos aspernatur ex obcaecati. Voluptates,
    qui? Error aperiam saepe cupiditate explicabo modi maxime eius, ipsam
    asperiores optio alias voluptates ad, ratione magni perferendis quidem,
    autem quas magnam delectus eum distinctio praesentium. Nostrum eligendi at,
    cum quam provident nesciunt natus soluta fuga repudiandae, excepturi quaerat
    explicabo sequi? Quae est placeat explicabo quidem voluptatum repellendus
    illo labore maxime provident, laudantium aperiam natus quia, culpa facere
    doloribus corporis, similique ipsum! Saepe molestiae esse quaerat earum a
    unde, corrupti rem nam obcaecati, totam quibusdam quia doloribus laudantium?
    Libero inventore beatae accusantium praesentium aliquam explicabo veniam hic
    accusamus at nulla! Velit, deleniti nesciunt eveniet inventore quia
    voluptate dolores eius dolore consequatur vero dolor hic illo nihil harum
    optio. In, esse cupiditate? Nesciunt magnam rerum ut quasi itaque suscipit.
    Omnis officiis accusantium sint placeat quasi quas non praesentium voluptate
    fuga, dignissimos aliquam veritatis modi repellat, quidem at? Maxime facilis
    consequuntur deleniti similique dolor ratione, inventore qui, nisi
    laboriosam doloribus ea iure dolorum in velit suscipit, rerum vitae
    aspernatur aut voluptatem labore pariatur? Debitis dignissimos esse libero
    sit aspernatur distinctio. Eligendi, earum. Obcaecati doloribus qui minima
    tenetur. Molestias tenetur natus earum veritatis quos repellendus, mollitia
    neque saepe recusandae officiis, vel necessitatibus laboriosam numquam quae
    magni quaerat consequatur vitae provident voluptatibus labore, expedita enim
    velit modi est! Quo, exercitationem aperiam numquam explicabo architecto eum
    doloribus illum repellat eveniet, est eos vitae vel ea. Dolorum quae unde
    recusandae aliquid voluptate! Beatae impedit quas repudiandae perspiciatis
    reiciendis nam atque quam quod fugiat ut optio saepe temporibus sint sed
    amet dicta, suscipit magni rem a asperiores, iusto nesciunt? Cum perferendis
    mollitia doloremque ipsum ullam eligendi corrupti non blanditiis at ex quia
    quis facere, in minus, rerum iste? Deleniti ipsa consequuntur recusandae
    alias veritatis esse ratione dolores cupiditate ipsum, debitis aliquam modi
    tenetur maxime temporibus molestiae asperiores provident expedita quod
    reiciendis consectetur odit repellat nihil eveniet! Architecto rerum,
    obcaecati aut in officiis laborum? Labore quo qui perferendis, error tempore
    voluptas natus voluptatem officiis. Iusto ratione voluptas nobis, qui sequi
    quisquam distinctio.
</body>
</html>