<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav>
            <a class="logo" href="#">
                <img src="/src/images/icons-img/logo.png" alt="logo" />
            </a>
            <div class="toggler">
                <input id="toggler-1" name="toggler-1" type="checkbox" value="1" />
                <label for="toggler-1"> </label>
            </div>
            <a class="burger-menu" href="#" tabindex="0">
              <svg width="24" height="24">
                <use href="/src/images/icons-img/symbol-defs.svg#icon-trash"></use>
              </svg>
            </a>
            <div class="modal-menu">
                <div class="container__modal-menu">
                    <a class="logo-menu" href="#">
                    <img src="/src/images/icons-img/logo.png" alt="logo" />
                </a>
                <div class="toggler-menu">
                    <input id="toggler-1" name="toggler-1" type="checkbox" value="1" />
                    <label for="toggler-1"> </label>
                </div>
                
                
                </div>
                <div class="main__info-menu">
                    <button type="button" class="btn__info-menu">Sign up</button>
                    <img class="img__info-menu" src="/src/images/icons-img/book-group.png" alt="books-cards">
                </div>   
            </div>
            <button class="btn-sign_up" type="button">
                <span>Sign up</span>
                <svg width="20" height="20">
                    <use href="/src/images/icons-img/symbol-defs.svg#icon-arrow-narrow-right"></use>
                </svg>
            </button>
        </nav>
    </header>



    <script src="/src/index.js"></script>
</body>
</html>