    <section class="shopping-list__page">
    <h1 class="shopping-main__title">
      Shopping <span class="shopping-main__title--violet-color">List</span>
    </h1>
    <div class="empty-list">
      <p class="shopping-empty-text">
        This page is empty, add some books and proceed to order.
      </p>
    <img
        class="shopping-empty-img"
        sizes="(min-width: 768px) 322px,(max-width: 767px) 265px, 100vw"
        src="./images/shop/shopping-empty1x.png"
        alt="books"
        loading="lazy"
      />
    </div>
    <!-- <ul class="shopping-main__list-js"></ul> -->
    <!-- <div class="pagination__block pagination__block-js">
      <ul class="pagination__list">
        <li class="pagination__item create-left-arrows-js">
          <button
            type="button"
            class="pagination__btn-arrow-l pagination__btn-first-page-js"
          >
            <svg width="7" height="13" class="arrow__svg">
              <use
                href="./images/img-symbols/symbol-defs.svg#icon-align-left"
              ></use>
            </svg>
            <svg width="7" height="13" class="arrow__svg">
              <use
                href="./images/img-symbols/symbol-defs.svg#icon-align-left"
              ></use>
            </svg>
          </button>
          <button class="pagination__btn-arrow-l pagination__btn-per-page-js">
            <svg width="7" height="13" class="arrow__svg">
              <use
                href="./images/img-symbols/symbol-defs.svg#icon-align-left"
              ></use>
            </svg>
          </button>
        </li>
        <li class="pagination__item">
          <ul class="pagination__item-create-pages pagination__item-js"></ul>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn-arrow-r pagination__btn-next-page-js">
            <svg width="7" height="13" class="arrow__svg">
              <use
                href="./images/img-symbols/symbol-defs.svg#icon-right-arrow"
              ></use>
            </svg>
          </button>
          <button class="pagination__btn-arrow-r pagination__btn-last-page-js">
            <svg width="7" height="13" class="arrow__svg">
              <use
                href="./images/img-symbols/symbol-defs.svg#icon-right-arrow"
              ></use>
            </svg>
            <svg width="7" height="13" class="arrow__svg">
              <use
                href="./images/img-symbols/symbol-defs.svg#icon-right-arrow"
              ></use>
            </svg>
          </button>
        </li>
      </ul> -->
    </div>
  </section>