<div class="shoping-list">
        <div class="ff">
          <div class="shopping-list-conteiner">
            <div class="test-img-css"></div>
            <!-- <img src="" alt="" /> -->
            <div class="shopping-list-information">
              <h2 class="shoping-list-title-book">I will find you</h2>
              <p class="shoping-list-book-wrap">Hardcover fiction</p>
              <p class="shoping-list-book-description">
                David Burroughs was once a devoted father to his three-year-old son Matthew, living a dream life just a short drive away from the working-class suburb where he and his wife, Cheryl, first fell in love--until one fateful night when David woke suddenly to discover Matthew had been murdered while David was asleep just down the hall.
              </p>
              <h3 class="shoping-list-book-autor">Harlan Coben</h3>
              <div class="shopping-list-link-shop">
                <ul class="shoping-list-ul">
                  <li class="shopping-list-link">
                    <a href=""
                      ><img
                        src="./images/icons-img/amazon.png"
                        alt="amazon"
                        class="shopping-list-buy-link"
                    /></a>
                  </li>
                  <li class="shopping-list-link">
                    <a href=""
                      ><img
                        src="./images/icons-img/book.png"
                        alt="book"
                        class="shopping-list-buy-link"
                    /></a>
                  </li>
                  <li class="shopping-list-link">
                    <a href="books"
                      ><img
                        src="./images/icons-img/books.png"
                        alt=""
                        class="shopping-list-buy-link"
                    /></a>
                  </li>
                </ul>
              </div>
              <button class="shopping-list-delete-book-bnt" type="button">
                <svg class="shopping-list-icon">
                  <use
                    href="./images/img-symbols/symbol-defs.svg#icon-basket"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>