<div class="support_Ukraine">
  <div class="support_Ukraine_title_emblem">
    <h2 class="support_Ukraine_title">Support Ukraine</h2>
    <svg class="support_Ukraine_icons-img">
      <use href="./images/icons-img/symbol-defs.svg#icon-emblem"></use>
    </svg>
  </div>
  <div class="support_Ukraine_list">
    <ol class="support_Ukraine_ol"></ol>
  </div>
  <button class="support_Ukraine_bnt" type="button">
    <svg class="icon-arrow-back-ios-rounded">
      <use href="./images/icons-img/symbol-defs.svg#icon-up-arrow"></use>
    </svg>
  </button>
</div>
